@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.welcome-container {
    border-radius: 10px;
}
.background-image {
background: url('./images/image.jpg');
background-repeat: no-repeat;
height: 600px;
width: 1000px;
margin: 50px 20px;
/* border-radius: 10px; */
}
.content {
    color: white;
    position: absolute;
    top: 5%;
}
.content h1 {
    font-family: "Fredoka", sans-serif;
    font-size: 50px;
    color: #e3d8b7;
    padding-top: 70px;
    padding-left: 40px;

}
.content h5 {
    font-family: "Fredoka", sans-serif;
    color: #f3e5ab;
    font-size: 25px;
    padding-left: 65px;
}
.content p {
    width: 450px;
    color: #ccc298;
    margin-left: 70px;
    font-family: "Fredoka", sans-serif;
    margin-top: 25px;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
}